@model MovieBindModel
@{
    ViewData["Title"] = "New Movie";
}

<form 
    asp-action="Add" 
    asp-controller="Movies" 
    method="POST" 
    enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <input asp-for="Poster" type="file">
        </div>
        <div class="col-md-8 order-md-1">
            <div class="row mb-3">
                <div class="col-6">
                    <label asp-for="Title"></label>
                    <input class="form-control" asp-for="Title">
                </div>
                <div class="col-6">
                    <label asp-for="Director"></label>
                    <input class="form-control" asp-for="Director">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label asp-for="Description"></label>
                    <input class="form-control" asp-for="Description">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label asp-for="ReleaseDate"></label>
                    <input class="form-control" asp-for="ReleaseDate">
                </div>
                <div class="col-6">
                    <input class="btn btn-primary" type="submit" value="Submit">
                </div>
            </div>
        </div>
    </div>
</form>